version: 2
jobs:
  build:
    working_directory: ~/myapp
    docker:
      - image: circleci/node:8-browsers
    steps:
      - checkout:
          path: ~/myapp/angular-testing/angular-testing
      - run:
          command: ls
      - restore_cache:
          key: angular-whishlist-{{ .Branch }}-{{ checksum "package.json" }}
      - run: npm install
      - save_cache:
          key: angular-whishlist-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - "node_modules"
      - run: npm run test -- --watch=false --progress=false --browser=ChromeHeadLessCI
