version: 2
jobs:
  build:
    working_directory: ~/myapp/angular-testing
    docker:
      - image: circleci/node:12-browsers
    steps:
      - checkout:
          path: ~/myapp
      - run:
          command: ls -R | grep ":$" | sed -e 's/:$//' -e 's/[^-][^\/]*\//--/g' -e 's/^/   /' -e 's/-/|/'    
      - restore_cache:
          key: angular-whishlist-{{ .Branch }}-{{ checksum "package.json" }}
      - run: npm install
      - save_cache:
          key: angular-whishlist-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - "node_modules"
      - run: npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
      - store_test_results: 
          path: target/surefire-reports