version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8-browsers

    working_directory: ~/project-name

    steps:
      - checkout

      # Download and cache dependencie
      - run: npm install
      # run tests!
      - run: npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI
      - store_test_results: 
          path: target/surefire-reports
         