version: 2.1

jobs:
    # The test job
    test:
        working_directory: ~/AngularTest
        docker:
            - image: circleci/node:10-browsers
        steps:
            - checkout
            - restore_cache:
                keys:
                - v1-dependencies-{{ checksum "package-lock.json" }}
                - v1-dependencies-
                # Install project dependencies
            - run:
                name: Install local dependencies
                command: npm install
                # Cache local dependencies if they don't exist
            - save_cache:
                key: v1-dependencies-{{ checksum "package-lock.json" }}
                paths:
                    - node_modules
                # Test the source codeasd
            - run:
                name: Testing
                command: npm run test -- --no-watch --no-progress --browsers=ChromeHeadlessCI