version: 2
jobs:
  build:
    working_directory: ~/angular-testing
    docker:
      - image: circleci/node:8-browsers
    steps:
      - checkout:
          path: ~/angular-testing
      -run: ls -la
      - restore_cache:
          key: angular-whishlist-{{ .Branch }}-{{ checksum "package.json" }}
      - run: npm install
      - save_cache:
          key: angular-whishlist-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - "node_modules"
      - run: npm run test -- --watch=false --progress=false --browser=ChromeHeadLessCI
